@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<p>
    We apologize for the inconvenience. Please try again later or contact the administrator if the problem persists.
</p>